<mat-toolbar>
  <span>Rx Syncing Calculator</span>
</mat-toolbar>

<form class= "form" role="form">
  <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>Drug Name</mat-label>
    <input matInput placeholder="Drug Name">
  </mat-form-field>
  <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>Strength</mat-label>
    <input matInput placeholder="Strength">
  </mat-form-field>
  <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>Quantity Per Day</mat-label>
    <input matInput placeholder="Quantity Per Day" type="number">
  </mat-form-field>
  <mat-form-field appearance="fill" [floatLabel]="floatLabelControl.value">
    <mat-label>Quantity Remaining</mat-label>
    <input matInput placeholder="Quantity Remaining" type="number">
  </mat-form-field>
  <button mat-raised-button color="primary">Add to table</button>
</form>

<app-drug-output></app-drug-output>