<mat-toolbar>
  <span>Rx Syncing Calculator</span>
</mat-toolbar>

<form [formGroup]="drugForm">
  <table>
    <tbody *ngFor="let control of drugForm.get('drugs')['controls']; let i=index">
      <tr [formGroup]="control">
        <td class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Drug Name</mat-label>
            <input class="form-control" formControlName="drug" required type="text" matInput placeholder="Drug Name">
          </mat-form-field>
        </td>
        <td class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Quantity Taken Per Day</mat-label>
            <input class="form-control" formControlName="quantityPerDay" required type="number" matInput
              placeholder="Quantity Taken Per Day">
          </mat-form-field>
        </td>
        <td class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Quantity Remaining</mat-label>
            <input class="form-control" formControlName="quantityRemaining" required type="number" matInput
              placeholder="Quantity Remaining">
          </mat-form-field>
        </td>

        <td>
          <button mat-raised-button (click)="remove(i)" class="btn btn-primary mr-5">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
<div class="buttonContainer">
  <button mat-raised-button (click)="addDrug()" class="btn btn-primary mr-5 button">Add New Drug</button>
  <button mat-raised-button (click)="save()" class="btn btn-primary button">Get Sync Date</button>
</div>

<!-- <app-drug-output [drugs]="drugs"></app-drug-output> -->