<div class="container">

    <table mat-table class="mat-elevation-z8">

        <ng-container matColumnDef="drugName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Drug Name </th>
            <td mat-cell *matCellDef="let drug"></td>
        </ng-container>

        <ng-container matColumnDef="strength">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Strength </th>
            <td mat-cell *matCellDef="let drug"></td>
        </ng-container>

        <ng-container matColumnDef="quantityPerDay">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Taken Per Day </th>
            <td mat-cell *matCellDef="let drug"></td>
        </ng-container>

        <ng-container matColumnDef="quantityRemaining">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity Remaining </th>
            <td mat-cell *matCellDef="let drug"></td>
        </ng-container>

        <ng-container matColumnDef="daysRemaining">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Days Remaining </th>
            <td mat-cell *matCellDef="let drug"></td>
        </ng-container>

    </table>
    <button mat-raised-button color="warn">Delete</button>

</div>